.MainPage{
    width:100%;
    height: 100vh;
    background-color: blue;
    display: flex;
    flex-direction: column;
}
.top{
    width: 100%;
    height: 80px;
    background-color: #f9f9f9;
    border: 1px solid lightgrey;

    }
.center{
width: 100%;
height: 100%;
background-color: #f9f9f9;
display: flex;
flex-direction: row;
border: 1px solid lightgrey;
}

.videoView{
    width: 100%;
    height: 100%;
    background-color: #f9f9f9;

}