.signInPage{
    width: 100vw;
    height: auto;
    margin-top: 100px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.signInPage .singInContainer{
    box-shadow: -5px 5px darkgray;
    border :2px solid grey;
    width: 600px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.signInPage .singInContainer .signInTop{
    background-color: white;
    border: none;
    text-align: center ;

} 
.signInPage .singInContainer .signInBody{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 100px);
    flex-direction: column;
}
/* INPUT FOR MARGIN */
.signInPage .singInContainer .signInBody input{
    margin-bottom: 100px;
    width:250px;
    height: 40px;
    font-size: 18px;
    padding-left: 10px;
    
}
#bttn{
    width: 200px;
    height: 60px;
    border:none;
    border-radius: 50px;
    background-color: lightblue;
    margin: 10px;
    color:black;

}
#bttn:hover{
    cursor: pointer;
} 
